---
import Layout from '../layouts/Main.astro';
import { getStaticPaths } from './documentation/[document].astro';

let documentationPaths = await getStaticPaths();
const posts = await Astro.glob('../pages/blog/entries/*.md');
---
<Layout title="Ligature">
  <h3>What is Ligature?</h3>

  <p>Ligature is a libre (free and open source, MPL-2.0 licensed) knowledge graph that focuses on pragmatism, portability, and simplicity.
  It is currently under heavy design and development, and not ready for real world use, but experimentation and feedback are encouraged and much welcomed.</p>
  
  <p>Below are some resources to see where things are.</p>
  
  <h3>Documentation</h3>
  
  <p>Below are links to the work in progress documentation for Ligature.
  The repository for these documents can be found at 
  <a href="https://github.com/almibe/ligature-documentation">https://github.com/almibe/ligature-documentation</a>.</p>

  <ul>
    {documentationPaths.map((path) => (
      <li><a href={`/documentation/${path.params.document}`}>{path.props.title}</a> - {path.props.description}</li>
    ))}
    <li><a href="/documentation/running-ligature">Running Ligature</a> - Instructions for running Ligature locally.</li>
  </ul>

  <h3>Development Blog</h3>

  <ul>
    {posts.reverse().slice(0,6).map((post) => (
      <li>{post.frontmatter.date.split("T")[0]} - <a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>

  <a href="/blog/">See more.</a>
  
  <h3>Case Studies</h3>
  
  <p>
    Ligature is designed around usage.
    To help with this several case studies have been singled out.
  </p>
  
  <ul>
    <li><a href="/case-studies/personal-knowledge-management/">Personal Knowledge Management</a> - </li>
    <li><a href="/case-studies/ttrpgs/">Encoding Tabletop Role-Playing Games</a> - </li>
    <li><a href="/case-studies/homosaurus/">Homosaurus</a> - </li>
  </ul>
  
  <h3>Code Repositories</h3>
  
  <p>Work on Ligature is spread out over a number of git repositories.
  Below is a list of them.</p>
  
  <ul>
    <li><a href="https://github.com/almibe/ligature-documentation">Ligature Documentation</a> - the documentation for the Ligature project.</li>
    <li><a href="https://github.com/almibe/ligature.dev">ligature.dev</a> - this website!</li>
    <li><a href="https://github.com/almibe/ligature-kt">Ligature Kotlin</a> - an implementation of Ligature written in <a href="https://kotlinlang.org/">Kotlin</a> for the JVM and JS ecosystems.</li>
    <li><a href="https://github.com/almibe/ligature-rs">Ligature Rust</a> - an implementation of Ligature written in <a href="https://www.rust-lang.org/">Rust</a>.</li>
    <li><a href="https://github.com/almibe/ligature-web">Ligature Web</a> - A web frontend made with <a href="https://kit.svelte.dev/">SvelteKit</a> for working with Ligature.</li>
    <li><a href="https://github.com/almibe/ligature-pad">Ligature Pad</a> - A desktop application based on <a href="https://tauri.app">Tauri</a> for working with Ligature.</li>
  </ul>  
  
  <h3>Attribution</h3>

  <p>This website makes use of the follow projects and libraries (probably a few I'm forgetting)</p>
  
  <ul>
    <li><a href="https://astro.build/">Astro</a></li>
    <li><a href="https://openmoji.org/library/emoji-1FAA2/">Logo Based on Openmoji's Knot</a></li>
    <li><a href="https://fonts.google.com/specimen/Comfortaa">Comfortaa font</a></li>
    <li><a href="https://fonts.google.com/specimen/Raleway">Raleway font</a></li>
  </ul>
</Layout>
